.scroll-top {
  border: 1px solid var(--surface-border);
  background: transparent;
  color: var(--text);
  border-radius: 50%;
  width: 3.84rem;
  height: 3.84rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
